.rightMenu {
    height: 100vh;
    width: 100px;
    min-width: 100px;
    z-index: 1;
    background: rgba(34, 34, 34, 0.4);
    backdrop-filter: blur(10px);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s cubic-bezier(0.175,0.885,0.32,1.275 );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.rightMenu .goPro,
.rightMenu .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.rightMenu .goPro i,
.rightMenu .profile i {
    color: #f1f1f1;
    margin: 20px 0; 
    text-align: center; 
    font-size: 20px;
    position: relative;
}
.rightMenu .goPro i p {
    font-size: 14px;
}
.rightMenu .goPro  i p span {
    color: #848484;
}
.rightMenu .goPro i:nth-child(2)::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background: #45ab2e;
    border-radius: 50%;
    top: 0; 
    right: 0;   

}
.rightMenu .profile .profileImg {
    width: 40px;
    height: 40px;
    overflow: hidden;   
    border-radius: 100%;    
    box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.4);
    background: #555;
}
.rightMenu .profile .profileImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}


@media screen and (max-width : 550px )  {
    .rightMenu {
        min-width: 64px;
    }
}